<!DOCTYPE html>
<html>
	<head>
		<style>
			body
			{
				background-color: #20A4F3;
			}
			p.definition
			{
				color: #EFE9F4;
			}
			p.temp
			{
				font-size: 24px;
				color: #EFE9F4;
			}
			p.joke
			{
				font-size: 18px;
				color: #EFE9F4;
			}
		</style>

		<title> UwU </title>
	</head>

	<body>

		<center> <h1> Testing 3 APIs! </h1> </center>
		<h2><a href="https://dictionaryapi.com/">Merriam-Webster API</a></h2>

		<form action="/">
			<input type="text" name="search" placeholder="search for a word here!">
			<br>
			<input type="submit" name="submit" placeholder="Search">
		</form>

		<p> <em>NOTE: any invalid request will simply display the definition of the word 'lacrosse' </em> </p>
		<h4> {{ word }} </h4>
		<p class="definition"> <strong> {{ definition }} </strong> </p>

		<h2> Forecast.io API</h2>
		<a href="https://darksky.net/poweredby/">Powered by DarkSky</a>
		<center> <h3> Weather by Stuyvesant High School </h3> </center>

		<p class="temp"> {{ temp }} </p>
		<p> {{ summary }} </p>

		<a href="http://www.icndb.com/api/"><h2> Chuck Norris Jokes API</h2></a>
		<p> Here is a random Chuck Norris joke!</p>
		<p class="joke"> <strong> {{ joke }} <strong> </p>

	</body>
</html>
