<DOCTYPE! html>
	<head>
	{% block head %}
		<title> {% block title %} {% endblock %} -|- Login </title>
	{% endblock %}
	</head>

	<body>
		{% block content %}

		{% set msgs = get_flashed_messages() %}
			{% for each in msgs %}
				<center> <strong> {{ each }} </strong> </center>
				<br>
			{% endfor %}

		<center> <h1> Login </h1> </center>

		<h3> Type in your login info below </h3>

		<form action="/auth" method=POST>
			<h5> Username: <input type="text" name="username"> </h5>
			<h5> Password: <input type="password" name="password"> </h5>
			<br> <input type="submit" value="Login">
		</form> 

		{% endblock %}

		{% block footer %}
		&copy; <i> Copyright 2018 Rubin Peci </i>
		{% endblock %}
	</body>

</html>
